@font-face {
  font-family: 'Axiforma';
  src: url('fonts/AXIFORMA/Axiforma-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('fonts/AXIFORMA/Axiforma-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('fonts/AXIFORMA/Axiforma-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('fonts/AXIFORMA/Axiforma-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('fonts/AXIFORMA/Axiforma-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('fonts/AXIFORMA/Axiforma-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('fonts/AXIFORMA/Axiforma-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Intern */

@font-face {
  font-family: 'Intern';
  src: url('fonts/INTER/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Intern';
  src: url('fonts/INTER/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Intern';
  src: url('fonts/INTER/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Intern';
  src: url('fonts/INTER/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Intern';
  src: url('fonts/INTER/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
