.slickContiner .slick-track {
   display: flex;
   gap: 28px;
 }

.slickContiner .slick-arrow {
   position: absolute;
   width: 56px;
   height: 56px;
   border-radius: 100%;
   background-color: rgba(34, 131, 178, 1);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 20%;
 }

 .slickContiner  .slick-next {
   background-image: url(../images/slickRight.svg);
   bottom: 0px;
   top: unset;
   left: 50%;
   right: unset;
   margin-left: 10px;
   transform: translate(0px);
 }
 
 .slickContiner  .slick-prev {
  background-image: url(../images/slickLeft.svg);
  bottom: 0px;
  top: unset;
  right: 50%;
  left: unset;
  margin-right: 10px;
  transform: translate(0px);
 }

 .slickContiner  .slick-next::before {
   content: none;
 }
 
.slickContiner  .slick-prev::before {
   content: none;
 }


/* Estilo por defecto para los elementos .slickItem */
.slickItem {
  transition: transform 0.3s ease, filter 0.3s ease; /* Suaviza las transiciones */
  filter: brightness(0.8); /* Oscurece el elemento */
  transform: scale(0.9); /* Más pequeño */
}

/* Estilo normal para los elementos con las clases .slick-current o .slick-center */
.slickItem.slick-current,
.slickItem.slick-center {
  filter: brightness(1); /* Sin oscurecimiento */
  transform: scale(1); /* Tamaño normal */
}